# Ignore everything by default
*
!*/
!*.json
!*.js
!*.yaml
!*.yml
!*.css
!*.html
!.prettierrc
# .md files are handled by mdformat

# Ignore generated coverage reports
htmlcov/
# Ignore hacs, if installed.
hacs/
