.flow-success {
  text-align: center;
  padding: var(--spacing-xl);
  max-width: 400px;
  margin: 0 auto;
}

.flow-success__icon {
  width: 64px;
  height: 64px;
  margin: 0 auto var(--spacing-md);
  background-color: var(--ha-success-color);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.flow-success__title {
  margin: 0 0 var(--spacing-md) 0;
  color: var(--ha-success-color);
}

.flow-success__message {
  margin: 0 0 var(--spacing-md) 0;
}

.flow-success__instructions {
  margin: 0;
  color: var(--ha-secondary-text-color);
  font-size: 0.875rem;
}
